@model IEnumerable<EmployeeTagger.Model.EmployeeTagsDetails>

@{
    ViewBag.Title = "EmployeeTagsLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav>
    <ul id="employeeList">
        @foreach (var item in Model)
        {
            string employee = String.Concat(item.FirstName, " ", item.LastName);
            <li>@Html.ActionLink(employee, "EmployeeTags", "EmployeeTagger", new { Id = item.Id }, null)</li>
        }
    </ul>

</nav>
<section>
    @RenderBody()

</section>
