 ul#employeeList li {
        list-style-type:none;
    }
 nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:300px;
    float:left;
    padding:5px; 
}
section {
    width:500px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

ul#employeeTags{
    margin:30px 0px 10px 0px;
    min-height:300px;  

}
ul#employeeTags li{
    list-style-type:none;
    display:inline-block;
    border:1px solid #808080;
    background-color:#eee;
    padding:2px 5px;
    margin:5px 5px;
}
dl dt{float:left;}

a.removeTag {
    background: url(../Images/remove.png) no-repeat top right;
    display: inline-block;
    width: 15px;
    text-indent: -9999px; /* hides the link text */
}